*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  background-color: #293E5F;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
button {
  background: transparent;
  border: none;
  outline: none;
}

main {
  flex: 1 1 auto;
}

