.home {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 100px 0;
}

.btn {
  display: flex;
  margin: 0 auto;

  a {
    padding: 20px 30px;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    border-radius: 30px;
    transition: all .5s ease-in;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }


}
